{% extends 'shelter/main.html' %}
{% block content %}

<div class="app">
    <div class="container drop-shadow">
        <h1 class="h1 text-center">Wydarzenia</h1>
    </div>

    <div class="container drop-shadow">
        <div class="accordion" id="accordion">
        {% for x in events %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="{{x.htmlID}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="{{x.link}}" aria-expanded="false" aria-controls="{{x.tagID}}">
                    {{x.event}}
                </button>
            </h2>

            <div id="{{x.tagID}}" class="accordion-collapse collapse" aria-labelledby="{{x.htmlID}}" data-bs-parent="#accordion">
                <div class="acoordion-body">
                    {% autoescape off %}
                        {{ x.content }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>

</div>

{% endblock %}