{% extends 'shelter/main.html' %}
{% block content %}

<div class="app">
    <div class="container drop-shadow">
        <h1 class="h1 text-center">Znajdź zwierzaka dla siebie spośród podopiecznych schroniska w Zabrzu.</h1>
    </div>
    <div class="container drop-shadow text-center footer">
        <!--<h3>{{ shelterName }}</h3>-->
        <img src="{{ logo }}" class="img-responsive img-thumbnail align-self-center" style="border: 0;width: 30%;"/>

        <div class = "flex-main">
            
            <div class = "info">
                <h3>Informacje:</h3><br>
                {% autoescape off %}
                {{ title }}
                {% endautoescape %}
            </div>

            <div class = "address">
                <h3>Adres schroniska:</h3>
                    {% autoescape off %}
                    {{ address }}
                    {% endautoescape %}
                
                
            </div>
            <div class = "hours">
                <h3>Godziny otwarcia:</h3>
                    {% autoescape off %}
                    {{ hours }}
                    {% endautoescape %}
                
                
            </div>
            <div class="social">
                <h3>Kontakt:</h3>
                <p>Adres e-mail: {{ email }}</p>
                <a>Linki z Facebooka:</a><br>
                
                <a href="{{ facebook1 }}">{{ facebook1 }}</a><br>
                <a href="{{ facebook2 }}">{{ facebook2 }}</a>
            </div>
        </div>
        
        
    </div>
</div>


{% endblock %}