header{
    height: 20%;
    text-align: center;
    padding: 20px;
    margin-top: -45px;
    /*background-color: #F7F6FB;*/
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.brand {
    font-size: 55px;
    color: #5C2C1A;
}

.drop-shadow{
    -webkit-box-shadow: 0px 0px 33px -10px rgba(214, 169, 132, 0.3);
    -moz-box-shadow: 0px 0px 33px -10px rgba(214, 169, 132, 0.3);
    box-shadow: 0px 0px 33px -10px rgba(214, 169, 132, 0.3);
}

.navbar {
    margin-top: auto;
}

.navbar-nav a {
    color: #300EDA;
    font-size: 20px;
}

.navbar-nav a:hover {
    color: #DD97D9;
}

.navbar-nav a.active {
    color: #E92130;
}

.navbar-brand {
    margin-left: 1rem;
    padding: .5rem;
}

.footer {
    margin-top: 30px;
}

.a-animal {
    text-decoration: none;
    color: #5C2C1A;
}

.a-animal:hover {
    color: black;
}

.flex-main, .collage{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
}

.collage img {
    margin-top: 2%;
}

.flex-main > div{
    margin: 2%;
    /*flex-basis: 100%;*/
    max-width: 25%;
}

.flex-main h3{
    display: inline;
}

.flex-main a{
    color:darkcyan;
    text-decoration: none;
}